<!DOCTYPE html>
<html>
<head>
	<title>Guess The Number !</title>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app>
<div class="container" ng-controller="GuessTheNumberController">
	<h2>Guess the Number !</h2>
	<p class="well lead">Guess the computer generated random number between 1 and 1000.</p>
	<label>Your Guess: </label><input type="number" ng-model="guess"/>
	<button ng-click="verifyGuess()" class="btn btn-primary btn-sm">Verify</button>	
	<button ng-click="initializeGame()" class="btn btn-warning btn-sm">Restart</button>	
	<p>
		<p ng-show="deviation<0" class="alert alert-warning">Your guess is higher.</p>
		<p ng-show="deviation>0" class="alert alert-warning">Your guess is lower.</p>
		<p ng-show="deviation===0" class="alert alert-success">Yes! That"s it.</p>
	</p>
	<p class="text-info">No of guesses : <span class="badge">{{noOfTries}}</span><p>
</div>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
	<script type="text/javascript">
		function GuessTheNumberController($scope) {
			$scope.verifyGuess = function () {
				$scope.deviation = $scope.original - $scope.guess;
				$scope.noOfTries = $scope.noOfTries + 1;
			}
			$scope.initializeGame=function() {
				$scope.noOfTries = 0;
				$scope.original = Math.floor((Math.random() * 1000) + 1);
				$scope.guess = null;
				$scope.deviation = null;
			}
			$scope.initializeGame();
		}
	</script>
</body>
</html>